 * { margin: 0; padding: 0; box-sizing: border-box; }

html, body, .full-height {
    height: 100%;
}
body
{ 
font-family: 'Varela Round', 
sans-serif!important; 
}
 
#title
{
text-align: center;
margin-left: 25%;
}

.container form {
position:fixed; 
bottom: 5px; 
width: 80%;
}

.form-control{
      width: 50%!important;
}

.form-prompt{
      width: 40%;
}

form #inputform{
      margin-left: 40%;
}

#messages 
{
list-style-type: none; 
margin: 0; 
padding: 0; 
}
      
#messages li 
{
padding: 5px 10px; 
}

#messages li:nth-child(odd) 
{ 
background: #eee; 
}

#countdown{
position:absolute;
top:40%;
left:50%;
font-size:100px;
display:none;
color: #B80000 ;
}

#vote
{
position:absolute;
top:45%;
left:63%;
font-size:25px;
display:none; 
}

#ideators
{
color:#f0ad4e; 
text-align: right; 
font-size: 15px;
margin-top: 2%;
}

#newPromptinstruction{
font-size: 10px; 
text-align: right; 
padding-bottom: 1%;}

#activityFeed{
text-align: center;
}


#panelBodyHeight{
    height: 270px;
    margin-bottom: 0;
    overflow: auto;
}

#VotedBodyHeight{
    height: 300px;
    margin-bottom: 0;
    overflow: auto;
    /*border: 1px solid black;*/

}

.panelHeight{
  overflow: hidden;
}
#logo img{
      width: 80%;
      margin-top: 3%;
      position: relative;
      left: 15%;
}

#canvas{
      border: 2px black;
      width: 450px;
      height: 250px;
      /*background-color: lightgrey;*/
      position: fixed;
      bottom: 5px;
      margin-left: 8%;
}



 .cloud {
  height: 3vw;
  width: 8vw;
  border-radius: 40vw;
  border: 2px solid #f0ad4e;
  border-top: transparent;
  position: relative;
  margin-top: 2vw;
  text-align: center;
  margin-left: 30%;
}
.cloud:before {
  content: "";
  position: absolute;
  top: -0.95vw;
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  left: 0.8vw;
  border-radius: 50%;
  border: 2px solid #f0ad4e;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(39deg);
}
.cloud:after {
  content: "";
  position: absolute;
  height: 4vw;
  width: 4vw;
  top: -1.9vw;
  left: 2.6vw;
  border-radius: 68%;
  box-sizing: border-box;
  border: 2px solid #f0ad4e;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(54deg);

}


/* ------------------ HOME PAGE CSS ------------- */

.homePageBg{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.topDivHome{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  background-color:white;
  text-align:center;
}


#nav .btn{
  border:1px solid #f0ad4e; 
  color: #f0ad4e;
  font-size: 120%;
  margin-top: 5%;
 }

.topDivHome a{
  margin-right: 7%;
}

.bottomDivHome{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#f0ad4e;
  text-align:center;
  color:#FFFFFF;

}

#welcome img {
  width: 45%;
  display: block;
  margin-left:auto;
  margin-right: auto; 
  margin-top: 2%;
}


.bottomDivHome a {
  margin-top: 3%;
  font-size: 150%;
  color: black;
}
.bottomDivHome .btn{
  border: 2px solid transparent;
}





#home .row{
  margin-left: 0px!important; 
  margin-right: 0px!important;
}

/*section{
  margin-top: 50%;
}*/

/*#nav{
  position: fixed;
}*/


#HowWorks h1{
  text-align: center;
  color: #f0ad4e;

}
#HowWorks{
  margin-top: 50%;
}
#HowWorks #firstP{
  font-size: 120%;
}
#HowWorks #firstP b{
  font-size: 140%;
  color: #f0ad4e;
}
#HowWorks img{
  max-width: 70%;
}

#HowWorks li{
  margin-left: 4%;
}
ol{
  font-size: 110%;
}

#scrollUp .btn{
  border:1px solid #f0ad4e; 
  color: #f0ad4e;
}

#scrollUp .btn{
  margin-left: 25%;
}


#team img{
  width: 45%;
  border: 7px solid white;
  border-radius: 100%;
  display: block;
  margin:auto auto;
}

#team{
  margin-top: 10%;
  background-color: #f0ad4e;
}

#team p{
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
  font-size: 105%;
}
