 * { margin: 0; padding: 0; box-sizing: border-box; }

html, body, .full-height {
    height: 100%;
}
body
{ 
font-family: 'Varela Round', 
sans-serif!important; 
}
 
#title
{
text-align: center;
margin-left: 25%;
}

.container form {
position:fixed; 
bottom: 5px; 
width: 80%;
}

.form-control{
      width: 50%!important;
}

.form-prompt{
  width: 65%;
}

form #inputform{
      margin-left: 40%;
}

#messages 
{
list-style-type: none; 
margin: 0; 
padding: 0; 
}
      
#messages li 
{
padding: 5px 10px; 
}

#messages li:nth-child(odd) 
{ 
background: #eee; 
}

#promptForm{
  padding-left: 20%;
}

#countdown{
position:absolute;
top:40%;
left:50%;
font-size:100px;
display:none;
color: #B80000 ;
}

#vote
{
position:absolute;
top:45%;
left:63%;
font-size:25px;
display:none; 
}

#ideators
{
color:#f0ad4e; 
text-align: right; 
font-size: 15px;
margin-top: 2%;
}

#newPromptinstruction{
font-size: 10px; 
text-align: right; 
padding-bottom: 1%;}

#activityFeed{
text-align: center;
}


#panelBodyHeight{
    height: 270px;
    margin-bottom: 0;
    overflow: auto;
}

#VotedBodyHeight{
    height: 300px;
    margin-bottom: 0;
    overflow: auto;
    /*border: 1px solid black;*/

}

#voted-words{
  list-style-type: none;
}

.panelHeight{
  overflow: hidden;
}
#logo img{
      width: 80%;
      margin-top: 3%;
      position: relative;
      left: 15%;
}

 .cloud {
  height: 3vw;
  width: 8vw;
  border-radius: 40vw;
  border: 2px solid #f0ad4e;
  border-top: transparent;
  position: relative;
  margin-top: 2vw;
  text-align: center;
  margin-left: 30%;

}
.cloud:before {
  content: "";
  position: absolute;
  top: -0.95vw;
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  left: 0.8vw;
  border-radius: 50%;
  border: 2px solid #f0ad4e;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(39deg);
}
.cloud:after {
  content: "";
  position: absolute;
  height: 4vw;
  width: 4vw;
  top: -1.9vw;
  left: 2.6vw;
  border-radius: 68%;
  box-sizing: border-box;
  border: 2px solid #f0ad4e;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(54deg);

}